@charset "utf-8";

// Define defaults for each variable.

// Define Font family
$base-font-family-en: "Arial", "Cambria", "Times New Roman", sans-serif;
$base-font-family-zh: "黑体", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif;
$base-font-family: #{$base-font-family-en}, #{$base-font-family-zh};

$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.8 !default;

$spacing-unit: 20px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;

$grey-base: #f5f5f5 !default; // 极浅灰作为基础背景色
$grey-color-light: mix(white, $grey-base, 60%); // 接近白，但略有层次（卡片、面板背景）
$grey-color: $grey-base; // 默认灰（背景色）
$grey-color-dark: mix(#999999, $grey-base, 40%); // 中灰（用于边框、分隔线）
$grey-color-darker: mix(#666666, $grey-base, 30%); // 深灰（可用于文本色、强调）


$border-width: 1px !default;
$padding-image-unit: 10px !default;

$table-text-align: center !default;

// Width of the content area
$content-width: 1000px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// 定义一个 Sass Mixin，($ratio) 是这个 Mixin 接受的参数
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


// Import partials.
@import "minima/base",
"minima/layout",
"minima/syntax-highlighting",
"minima/github-min",
"minima/leetcode-exercise"
;