// Add some new settings yourself that have never been available in the current theme.

/**
* specialbox
**/
.specialbox {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 10px;

    legend {
        font-size: 1.4rem;
        margin: 0 5px;
        padding: 0 10px;
    }
}

.asideDiv {
    background-color: #f8f8f6;
    display: flex;
    flex-direction: row;
    padding: 2em 1em;
}

.asideDiv div:nth-child(1) {
    flex: 1;
}

.asideDiv div:nth-child(2) {
    margin-left: 2em;
    flex: auto;
}

.asideDiv div:nth-child(2)>main:nth-child(1)>p:nth-child(1) {
    margin: 0px;
}

.asideDiv div:nth-child(2)>main:nth-child(2)>p {
    padding-left: 10px;
    border-left: 2px solid black;
    font-family: Consolas;
}

pre code.language-js {
    display: block;
    margin: 0;
    border-radius: 6px;
}

// "+" 表示相邻的标签
h2+pre code.language-js {
    margin-bottom: 1em;
}

.hr-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5em auto;
    width: 50%;
}

.hr-with-text::before,
.hr-with-text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.hr-with-text span {
    padding: 0 1.5em;
    color: #666;
    font-weight: bold;
    font-size: 0.9em;
}