<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  <!-- 仅保留highlight.js对代码块的设置 -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('div.language-jsx').forEach(wrapper => {
        const pre = wrapper.querySelector('pre');
        if (pre) {
          pre.classList.remove('highlight');
          const code = pre.querySelector('code');
          if (code) {
            code.className = 'language-javascript language-js hljs';
          }
          wrapper.parentNode.insertBefore(pre, wrapper);
          wrapper.remove();
        }
      });
    });
  </script>

  {%- include footer.html -%}

</body>

</html>